<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>About Page</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="/assets/Capture4.JPG">
        <p>In sum, remember the point of paragraphs is to show the structure of your thoughts. A paragraph
            should encompass one thought—that is, it should have some idea guiding it—which is then divided into
            separate sentences all of which address and advance that idea. So, insert a paragraph break when you are
            making a transition between ideas, or adding a new line of thought, or when you've finished summing up, as
            I'll do right now.</p>
    </div>
    {{>footer}}
</body>

</html>