<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="script/script.js"></script>
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p class="parag"> {{forecastData}}</p>
    </div>
    {{>footer}}
</body>

</html>